*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
/**outermost layout*/
.outerLayout{
    width:90vw;
    margin:4vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid gray;
    border-radius: 12px;
    padding:10vh;
}
/*Search and Select Layout*/
.search-select{
    width:100%;
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.searchBox input{
padding-inline-start: 4px;
padding-block: 10px;
border: 1px solid rgb(64, 65, 65);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    box-shadow: none;
    font-style: italic;
    font-weight: 500;
}
.searchBox input:focus{
  outline:none;
}
.selectBox select{
    padding-inline-start: 4px;
    padding-block: 6px;
    border-radius: 5px;
    border:1px solid brown;
}
.selectLayout select{
    padding-inline-start: 4px;
    padding-block: 6px;
    border-radius: 5px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
}
.selectLayout select:focus{
    outline:none;
}
/*Table layout*/
.tableLayout{
    width:100%;
    margin-top: 5vh;
}
#dataTable{
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
#dataTable td, #dataTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
#dataTable td{
    text-wrap: wrap;
    word-wrap: break-word;
}
.para{
    text-wrap: wrap;
    white-space:no-wrap;
    
}
#dataTable tr:nth-child(even){
    background-color: #f2f2f2;
}
#dataTable tr:hover {
    background-color: #ddd;
}
#dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0c0e01;
    color: white;
}
/**pagination layout**/
.pageLayout{
    width:100%;
    margin:2vw 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageText{
    color: rgb(130, 130, 130);
    font-weight: 400;
    font-style:oblique;
    
}
.btn{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 5px;
    font-weight: 700;
    margin-left:10px;
}
.btn:hover{
    cursor: pointer;
}
.btn:focus{
    outline: none;
}
.btn:active{
    transform: scale(0.9);
}